<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BRUXISMO</title>
    <link rel="stylesheet" href="../css/bruxismo.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="h-container">
        <div class="h-figure">
          <img
            src="../../assets/images/siegfriedLogoInicio.webp"
            alt="Logo"
            class="h-logo"
          />
        </div>

        <label class="h-toggle">
          <input
            type="checkbox"
            id="menu-input"
            class="h-input"
            onclick="toggleMenu()"
          />
        </label>

        <ul class="h-list" id="menu">
          <li onclick="inicio()" class="h-item">INICIO</li>
          <li onclick="irAInformacion()" class="h-item">LO QUE DEBES SABER</li>
          <li onclick="higieneBucal()" class="h-item">HIGIENE BUCAL</li>
          <li onclick="promociones()" class="h-item">PROMOCIONES</li>
          <li onclick="inicio()" class="h-item">BLOG</li>
          <li onclick="inicio()" class="h-item">CONTACTOS</li>
        </ul>
      </div>
    </header>

    <!-- Main -->
    <main>
      <!-- Image -->
      <section class="image-section">
        <img src="../../assets/images/siegfriedBruxismo.webp" alt="Bruxismo" />
      </section>

      <!-- Info -->
      <section class="info-section">
        <div class="info-container">
          <div class="info-title">
            <p>
              ¿Qué es el bruxismo <span class="info-textsc">bruxismo</span> y
              <br />
              cómo afecta la <span class="info-textsc">sensibilidad</span> de
              tus dientes?
            </p>
          </div>
          <div class="info-description">
            <p class="info-text">
              ¿Alguna vez te has despertado con dolor en la quijada? o peor ¿has
              tenido sensación de sensibilidad en los dientes todo el día? Si
              respondiste que sí, es conveniente que visites a tu odontólogo,
              quizás podría deberse a un padecimiento llamado
              <span class="info-textsc">bruxismo.</span>
            </p>
            <p class="info-text">
              El bruxismo es un trastorno en el que las personas
              <span class="info-textsc"
                >suelen apretar los dientes o rechinarlos</span
              >
              de manera <span class="info-textsc">inconsciente.</span> Pueden
              hacerlo durante el día o la noche, mientras duermen. Muchas veces
              la sensibilidad dental está relacionada a este padecimiento debido
              a que se desgasta el esmalte dental, se fracturan y despostillan
              los dientes. Por lo que debes poner mucha atención a estos signos
              y si detectas alguno, visitar al dentista.
            </p>
            <p class="info-text">
              <span class="info-textsc"
                >Otros síntomas del bruxismo también implican dolor o rigidez en
                la mandíbula, cuello o rostro y jaquecas.
              </span>
              Aunque aún no hay explicación científica que enliste las causas de
              este trastorno, se sabe que puede desarrollarse gracias a factores
              de riesgo como:
              <span class="info-textsc"
                >el estrés, la ansiedad, el consumo de algunos medicamentos y,
                en casos aislados, trastornos mentales.</span
              >
            </p>
            <p class="info-text">
              Recuerda que tus dientes también son parte importante de tu
              cuerpo.
            </p>
          </div>
        </div>
      </section>

      <!-- Products -->
      <section class="products-section">
        <div class="p-container">
          <div class="p-title">
            <p>
              Te invitamos a seguir las recomendaciones de tu odontólogo y a
              conocer nuestros productos que te ayudan en el alivio de la
              sensibilidad dental.
            </p>
          </div>
          <div class="p-imgs">
            <picture>
              <img
                src="../../assets/images/siegfriedProductos.webp"
                alt="Productos"
                class="p-img"
              />
            </picture>
            <!-- Zonas clicables con funciones -->
            <div onclick="intensivo()" class="zona zona-1"></div>
            <div onclick="diario()" class="zona zona-2"></div>
            <div onclick="sensibilidad()" class="zona zona-3"></div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="f-bg">
        <div class="f-container">
          <div class="f-imgs">
            <img
              src="../../assets/images/siegfried.webp"
              alt="Siegfried Rhein"
              class="f-img-logo"
            />
            <img
              src="../../assets/images/siegfriedLogoCirculo.webp"
              alt="Certificado"
              class="f-img-certificate"
            />
          </div>

          <div class="f-texts">
            <h3>Sistema Certificado</h3>
            <p class="f-text">
              Siegfried Rhein S.A. de C.V. empresa farmacéutica dedicada al
              desarrollo, producción, comercialización de productos
              farmacéuticos y distribución de productos higiénicos, materiales
              de curación, nutricionales, cosméticos y bebidas hidratantes de
              uso humano, como muestra de su compromiso con la calidad, la
              seguridad, la salud ocupacional y el medio ambiente, ha definido
              los siguientes principios como parte de su política de gestión
              integral. ...Ver más
            </p>
            <div class="f-img-odontologia">
              <img
                src="../../assets/images/siegfriedDiente.webp"
                alt="Odontología"
                class="f-odontologia"
              />
            </div>
          </div>

          <div class="f-menu-nav">
            <h3>Menú</h3>
            <ul class="f-menu">
              <li onclick="inicio()" class="f-item">INICIO</li>
              <li onclick="irAInformacion()" class="f-item">
                LO QUE DEBES SABER
              </li>
              <li onclick="higieneBucal()" class="f-item">HIGIENE BUCAL</li>
              <li onclick="promociones()" class="f-item">PROMOCIONES</li>
              <li onclick="inicio()" class="f-item">BLOG</li>
              <li onclick="inicio()" class="f-item">CONTACTOS</li>
            </ul>
          </div>

          <div class="f-info">
            <h3>Contacto</h3>
            <p class="f-info-ctexto1">
              Antonio Dovalí Jaime #70, Torre D, Piso12, Santa Fe Del. Álvaro
              Obregón<br />
              C.P. 01210 México, Ciudad de México
            </p>
            <p class="f-info-ctexto2">
              55 1055-2600<br />contacto.sr@siegfried.com.mx
            </p>

            <h3>Aviso de privacidad</h3>
            <p class="f-info-atexto">
              SIEGFRIED RHEIN, S.A. de C.V., es responsable de recabar sus datos
              personales, del uso que se le dé a los mismos y de su protección
              con base a la Ley. Para mayor información acerca de los datos
              recabados, los fines, el tratamiento y de los derechos que puede
              hacer valer, Usted puede acceder a nuestro Aviso de Privacidad
            </p>

            <h3>Términos y condiciones</h3>
            <p class="f-info-ttexto">Aviso de Publicidad: XXXXXXXXXXXX</p>

            <h3>Quejas y Sugerencias</h3>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS -->
    <script src="../routes/redirect.js"></script>
    <script>
      function toggleMenu() {
        const menu = document.getElementById("menu");
        const body = document.body;

        menu.classList.toggle("active");

        if (menu.classList.contains("active")) {
          body.style.overflow = "hidden";
        } else {
          body.style.overflow = "";
        }
      }
    </script>
  </body>
</html>
