<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENSIBILDAD</title>
    <link rel="stylesheet" href="../css/sensibilidad.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="h-container">
        <div class="h-figure">
          <img
            src="../../assets/images/siegfriedLogoInicio.webp"
            alt="Logo"
            class="h-logo"
          />
        </div>

        <label class="h-toggle">
          <input
            type="checkbox"
            id="menu-input"
            class="h-input"
            onclick="toggleMenu()"
          />
        </label>

        <ul class="h-list" id="menu">
          <li class="h-logo-mobile h-logo-top">
            <img
              src="../../assets/images/siegfried.webp"
              alt="Siegfried"
              class="h-logo-img h-logo-img-top"
            />
          </li>
          <li onclick="inicio()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconHome.webp"
                alt="Inicio"
              />
            </div>
            <span class="h-text">INICIO</span>
          </li>
          <li onclick="irAInformacion()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconInfo.webp"
                alt="Lo que debes saber"
              />
            </div>
            <span class="h-text">LO QUE DEBES SABER</span>
          </li>
          <li onclick="higieneBucal()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconDiente.webp"
                alt="Higiene Bucal"
              />
            </div>
            <span class="h-text">HIGIENE BUCAL</span>
          </li>
          <li onclick="promociones()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconPromo.webp"
                alt="Promociones"
              />
            </div>
            <span class="h-text">PROMOCIONES</span>
          </li>
          <li onclick="inicio()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconBlog.webp"
                alt="Blog"
              />
            </div>
            <span class="h-text">BLOG</span>
          </li>
          <li onclick="inicio()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconContacto.webp"
                alt="Contactos"
              />
            </div>
            <span class="h-text">CONTACTOS</span>
          </li>
          <li class="h-logo-mobile h-logo-bottom">
            <img
              src="../../assets/images/siegfriedDiente.webp"
              alt="Odontología"
              class="h-logo-img h-logo-img-bottom"
            />
          </li>
        </ul>
      </div>
    </header>

    <!-- Main -->
    <main>
      <!-- Image -->
      <section class="image-section">
        <img src="../../assets/images/DPSensibilidad.webp" alt="Sensibilidad" />
        <p class="image-texto">Consulta regularmente a tu odontólogo.</p>
      </section>

      <!-- Info -->
      <section class="info-section">
        <div class="info-container">
          <div class="info-title">
            <p>Colutorio y pasta dentífrica</p>
          </div>
          <div class="info-description">
            <p class="info-text">
              Recomendado para la higiene bucodental diaria en condiciones de
              molestias derivadas de la hipersensibilidad dental, generadas por
              tratamientos periodontales, desgaste del esmalte, retracción
              gingival, tratamientos blanqueadores e higiene profesional.
              Revitaliza las encías inflamadas, enrojecidas y/o con riesgo de
              complicaciones por la acumulación de placa bacteriana (biofilm
              oral). Su fórmula avanzada contiene ingredientes que ayudan a
              reducir la formación de placa bacteriana, protegen y remineralizan
              el esmalte. Aporta una agradable sensación de limpieza y frescura.
              Acción prolongada.
            </p>
            <p class="info-text">
              <span class="info-textsc">Modo de empleo colutorio: </span>Después
              del cepillado, llenar el vaso dosificador hasta la línea marcada
              (15 mL) y realizar un enjuague sin diluir, 2 o 3 veces al día
              durante 1 minuto, procurando que el producto entre en contacto con
              toda la cavidad bucal.
            </p>
            <p class="info-text">
              Después de su uso, no enjuagarse. No ingerir bebidas ni alimentos
              hasta 15 minutos después de su aplicación.
            </p>
            <p class="info-text">
              <span class="info-textsc">Modo de empleo pasta dentífrica: </span
              >Cepillar 3 veces al día, después de las comidas utilizando la
              técnica de cepillado recomendada por su odontólogo.
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="f-bg">
        <div class="f-container">
          <div class="f-imgs">
            <img
              src="../../assets/images/siegfried.webp"
              alt="Siegfried Rhein"
              class="f-img-logo"
            />
            <img
              src="../../assets/images/siegfriedLogoCirculo.webp"
              alt="Certificado"
              class="f-img-certificate"
            />
          </div>

          <div class="f-texts">
            <h3>Sistema Certificado</h3>
            <p class="f-text" id="f-text"></p>
            <div class="f-img-odontologia">
              <img
                src="../../assets/images/siegfriedDiente.webp"
                alt="Odontología"
                class="f-odontologia"
              />
            </div>
          </div>

          <div class="f-menu-nav">
            <h3>Menú</h3>
            <ul class="f-menu">
              <li onclick="inicio()" class="f-item">INICIO</li>
              <li onclick="irAInformacion()" class="f-item">
                LO QUE DEBES SABER
              </li>
              <li onclick="higieneBucal()" class="f-item">HIGIENE BUCAL</li>
              <li onclick="promociones()" class="f-item">PROMOCIONES</li>
              <li onclick="inicio()" class="f-item">BLOG</li>
              <li onclick="inicio()" class="f-item">CONTACTOS</li>
            </ul>
          </div>

          <div class="f-info">
            <h3>Contacto</h3>
            <p class="f-info-ctexto1">
              Antonio Dovalí Jaime #70, Torre D, Piso12, Santa Fe Del. Álvaro
              Obregón<br />
              C.P. 01210 México, Ciudad de México
            </p>
            <p class="f-info-ctexto2">
              55 1055-2600<br />contacto.sr@siegfried.com.mx
            </p>

            <h3>Aviso de privacidad</h3>
            <p class="f-info-atexto">
              SIEGFRIED RHEIN, S.A. de C.V., es responsable de recabar sus datos
              personales, del uso que se le dé a los mismos y de su protección
              con base a la Ley. Para mayor información acerca de los datos
              recabados, los fines, el tratamiento y de los derechos que puede
              hacer valer, Usted puede acceder a nuestro Aviso de Privacidad
            </p>

            <h3>Términos y condiciones</h3>
            <p class="f-info-ttexto">Aviso de Publicidad: XXXXXXXXXXXX</p>

            <h3>Quejas y Sugerencias</h3>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS -->
    <script src="../routes/redirect.js"></script>
    <script>
      function toggleMenu() {
        const menu = document.getElementById("menu");
        const body = document.body;

        menu.classList.toggle("active");

        if (menu.classList.contains("active")) {
          body.style.overflow = "hidden";
        } else {
          body.style.overflow = "";
        }
      }
    </script>
    <script src="../../src/js/verMas.js"></script>
  </body>
</html>
