<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TABAQUISMO</title>
    <link rel="stylesheet" href="../css/tabaquismo.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="h-container">
        <div class="h-figure">
          <img
            src="../../assets/images/siegfriedLogoInicio.webp"
            alt="Logo"
            class="h-logo"
          />
        </div>

        <label class="h-toggle">
          <input
            type="checkbox"
            id="menu-input"
            class="h-input"
            onclick="toggleMenu()"
          />
        </label>

        <ul class="h-list" id="menu">
          <li class="h-logo-mobile h-logo-top">
            <img
              src="../../assets/images/siegfried.webp"
              alt="Siegfried"
              class="h-logo-img h-logo-img-top"
            />
          </li>
          <li onclick="inicio()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconHome.webp"
                alt="Inicio"
              />
            </div>
            <span class="h-text">INICIO</span>
          </li>
          <li onclick="irAInformacion()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconInfo.webp"
                alt="Lo que debes saber"
              />
            </div>
            <span class="h-text">LO QUE DEBES SABER</span>
          </li>
          <li onclick="higieneBucal()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconDiente.webp"
                alt="Higiene Bucal"
              />
            </div>
            <span class="h-text">HIGIENE BUCAL</span>
          </li>
          <li onclick="promociones()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconPromo.webp"
                alt="Promociones"
              />
            </div>
            <span class="h-text">PROMOCIONES</span>
          </li>
          <li onclick="inicio()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconBlog.webp"
                alt="Blog"
              />
            </div>
            <span class="h-text">BLOG</span>
          </li>
          <li onclick="inicio()" class="h-item">
            <div class="h-icon-wrapper">
              <img
                class="h-icon"
                src="../../assets/images/iconContacto.webp"
                alt="Contactos"
              />
            </div>
            <span class="h-text">CONTACTOS</span>
          </li>
          <li class="h-logo-mobile h-logo-bottom">
            <img
              src="../../assets/images/siegfriedDiente.webp"
              alt="Odontología"
              class="h-logo-img h-logo-img-bottom"
            />
          </li>
        </ul>
      </div>
    </header>

    <!-- Main -->
    <main>
      <!-- Image -->
      <section class="image-section">
        <img
          src="../../assets/images/siegfriedTabaquismo.webp"
          alt="Tabaquismo"
        />
      </section>

      <!-- Info -->
      <section class="info-section">
        <div class="info-container">
          <div class="info-title">
            <p>Tabaquismo: el mayor enemigo de tu sonrisa.</p>
          </div>
          <div class="info-description">
            <p class="info-text">
              Si bien sabemos que el tabaquismo es una adicción
              <span class="info-textsc">peligrosa para la salud</span> también
              lo es para la estética de nuestra sonrisa, pues no sólo produce
              manchas café obscuro en los dientes, también puede causar daños
              irreversibles.
            </p>
            <p class="info-text">
              De acuerdo con el coordinador de Patología Bucal de la Facultad de
              Odontología de la UNAM, Javier Portilla Robertson,
              <span class="info-textsc"
                >el fumar tiene consecuencias muy graves
              </span>
              que pueden llevar a la persona a la
              <span class="info-textsc">pérdida de piezas dentales.</span>
            </p>
            <p class="info-text">
              Esta pérdida de dientes se da principalmente porque el fumar
              ocasiona que
              <span class="info-textsc"
                >los tejidos de soporte del diente y la encía se inflamen e
                infecten,
              </span>
              es decir, provoca un padecimiento
              <span class="info-textsc">llamado periodontitis.</span> En México
              cerca del 80% de los fumadores la padecen.
            </p>
            <p class="info-text">
              Sin omitir que fumar es un factor importante para desarrollar
              cáncer bucal y otras enfermedades graves, por lo que debemos poner
              en la balanza qué es lo que estamos apostando por el placer de
              inhalar el humo del cigarrillo, pues en este caso esta adicción
              nos puede llevar a perder no sólo la sonrisa, sino también la
              vida.
            </p>
            <p class="info-text">
              Si eres fumador y presentas alguno de estos síntomas debes
              consultar de inmediato a tu odontólogo.
            </p>
          </div>
        </div>
      </section>

      <!-- Products -->
      <section class="products-section">
        <div class="p-container">
          <div class="p-title">
            <p>
              Te invitamos a cuidar de tu salud bucal con nuestros productos
              especializados.
            </p>
          </div>
          <div class="p-imgs">
            <picture>
              <img
                src="../../assets/images/siegfriedProductos.webp"
                alt="Productos"
                class="p-img"
              />
            </picture>
            <!-- Zonas clicables con funciones -->
            <div onclick="intensivo()" class="zona zona-1"></div>
            <div onclick="diario()" class="zona zona-2"></div>
            <div onclick="sensibilidad()" class="zona zona-3"></div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="f-bg">
        <div class="f-container">
          <div class="f-imgs">
            <img
              src="../../assets/images/siegfried.webp"
              alt="Siegfried Rhein"
              class="f-img-logo"
            />
            <img
              src="../../assets/images/siegfriedLogoCirculo.webp"
              alt="Certificado"
              class="f-img-certificate"
            />
          </div>

          <div class="f-texts">
            <h3>Sistema Certificado</h3>
            <p class="f-text" id="f-text"></p>
            <div class="f-img-odontologia">
              <img
                src="../../assets/images/siegfried.webp"
                alt="Siegfried Rhein"
                class="f-logo"
              />
              <img
                src="../../assets/images/siegfriedDiente.webp"
                alt="Odontología"
                class="f-odontologia"
              />
              <img
                src="../../assets/images/siegfriedLogoCirculo.webp"
                alt="Certificado"
                class="f-certificate"
              />
            </div>
          </div>

          <div class="f-menu-nav">
            <h3>Menú</h3>
            <ul class="f-menu">
              <li onclick="inicio()" class="f-item">INICIO</li>
              <li onclick="irAInformacion()" class="f-item">
                LO QUE DEBES SABER
              </li>
              <li onclick="higieneBucal()" class="f-item">HIGIENE BUCAL</li>
              <li onclick="promociones()" class="f-item">PROMOCIONES</li>
              <li onclick="inicio()" class="f-item">BLOG</li>
              <li onclick="inicio()" class="f-item">CONTACTOS</li>
            </ul>
          </div>

          <div class="f-info">
            <h3>Contacto</h3>
            <p class="f-info-ctexto1">
              Antonio Dovalí Jaime #70, Torre D, Piso12, Santa Fe Del. Álvaro
              Obregón<br />
              C.P. 01210 México, Ciudad de México
            </p>
            <p class="f-info-ctexto2">
              55 1055-2600<br />contacto.sr@siegfried.com.mx
            </p>

            <h3>Aviso de privacidad</h3>
            <p class="f-info-atexto">
              SIEGFRIED RHEIN, S.A. de C.V., es responsable de recabar sus datos
              personales, del uso que se le dé a los mismos y de su protección
              con base a la Ley. Para mayor información acerca de los datos
              recabados, los fines, el tratamiento y de los derechos que puede
              hacer valer, Usted puede acceder a nuestro Aviso de Privacidad
            </p>

            <div class="f-menu-nav2">
              <h3>Menú</h3>
              <ul class="f-menu2">
                <li onclick="inicio()" class="f-item">INICIO</li>
                <li onclick="irAInformacion()" class="f-item">
                  LO QUE DEBES SABER
                </li>
                <li onclick="higieneBucal()" class="f-item">HIGIENE BUCAL</li>
                <li onclick="promociones()" class="f-item">PROMOCIONES</li>
                <li onclick="inicio()" class="f-item">BLOG</li>
                <li onclick="inicio()" class="f-item">CONTACTOS</li>
              </ul>
            </div>

            <h3>Términos y condiciones</h3>
            <p class="f-info-ttexto">Aviso de Publicidad: XXXXXXXXXXXX</p>

            <h3>Quejas y Sugerencias</h3>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS -->
    <script src="../routes/redirect.js"></script>
    <script>
      function toggleMenu() {
        const menu = document.getElementById("menu");
        const body = document.body;

        menu.classList.toggle("active");

        if (menu.classList.contains("active")) {
          body.style.overflow = "hidden"; // 🚫 Bloquea scroll
        } else {
          body.style.overflow = ""; // ✅ Vuelve a permitir scroll
        }
      }
    </script>
    <script src="../../src/js/verMas.js"></script>
  </body>
</html>
